<% if (page.comment){ %>
    <section id="comment">
      <h2 class="title"><%= __('comment') %></h2>
      <% if (theme.utterances && theme.utterances.enable) { %>
         <script>
           // Determine theme based on user preference
           const savedTheme = localStorage.getItem('hexo-theme-preference') || 'modern';
           const utterancesTheme = savedTheme === 'modern'
             ? '<%= theme.utterances.theme_light %>'
             : '<%= theme.utterances.theme_dark %>';

           // Create and configure utterances script
           const utterancesScript = document.createElement('script');
           utterancesScript.src = 'https://utteranc.es/client.js';
           utterancesScript.setAttribute('repo', '<%= theme.utterances.repo %>');
           utterancesScript.setAttribute('issue-term', '<%= theme.utterances.issue_term %>');
           utterancesScript.setAttribute('theme', utterancesTheme);
           utterancesScript.setAttribute('crossorigin', 'anonymous');
           utterancesScript.async = true;

           document.getElementById('comment').appendChild(utterancesScript);
         </script>
      <% } else if(theme.duoshuo_shortname) { %>
           <div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>
      <% } else if(config.disqus_shortname) { %>
           <div id="disqus_thread">
         <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
           </div>
      <% } %>
    </section>
    <% } %>
    